%h1
  Account #{@account.id}
%ul.bots_list
  - @account.bots.each do |bot|
    %li.bot
      = link_to bot.name, '#'

%ul.users_list
  - @account.users.each do |user|
    %li.user
      = link_to user.email, '#'
