%h1.account_name
  = @account.id
.add_bot
  = link_to 'Add bot to account', new_profile_bot_path, class: 'btn-default'

%ul.bots_list
  - @bots.each do |bot|
    %li.bot
      = link_to bot.name, bot_path(bot)
= will_paginate @bots, renderer: BootstrapPagination::Rails
